<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理后台</title>
    <link href="/layui/css/layui.css" rel="stylesheet"/>
    <link href="/css/style.css" rel="stylesheet"/>
</head>
<body class="body">

<!--弹层区域-->
<form class="layui-form" style="margin:10px 10px 0 -30px;" id="mainForm">
    <input type="hidden" name="id" />
    <div class="layui-form-item">
        <label class="layui-form-label">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="username" lay-verify="required" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">登录码</label>
        <div class="layui-input-block">
            <input type="text" name="logincode" lay-verify="required" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">密码</label>
        <div class="layui-input-block">
            <input type="password" name="pwd" lay-verify="required" class="layui-input"/>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">所属角色</label>
        <#list roles as r>
        <input type="checkbox" name="roleid" value="${r.id}" title="${r.rolename}" lay-skin="primary"/>
    </#list>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input type="radio" name="status" value="1" title="启用" checked>
                <input type="radio" name="status" value="0" title="禁用">
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" id="save" lay-submit lay-filter="userform">保存</button>
            <button id="cancle" class=" layui-btn layui-btn-primary">取消</button>
        </div>
    </div>
</form>

</body>
<script src="/js/jquery-1.10.2.js"></script>
<script src="/layui/layui.js"></script>

</body>
</html>
<script type="text/javascript">
    layui.use(['table', 'form', 'layer'], function () {
        // 操作对象
        var form = layui.form, layer = layui.layer;
        $.ajaxSetup({
            contentType: "application/json"
        });

        form.on('submit(userform)', function (data) {
            var formdata = data.field;
            var roles = getcheckroles();
            formdata.roleid = roles;
            formdata = JSON.stringify(formdata);
            debugger
            $.post("/user/save", formdata, function (ret) {
                if (ret.code==200) {
                    layer.msg("保存成功!");
                    setTimeout(function () {
                        closeView();
                        parent.window.$(".layui-laypage-btn").click();
                    }, 2000)
                }
                else {
                    layer.msg(ret.msg);
                }
            }, "json");
            return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
        });

        //取消按钮
        $("#cancle").click(function () {
            closeView();
        })

        //获取选中角色
        function getcheckroles() {
            var roles = "";
            var checkdata = $.find('input[type="checkbox"][name="roleid"]');
            for (var i = 0; i < checkdata.length; i++) {
                if (checkdata[i].checked) {
                    roles += checkdata[i].value + ",";
                }
            }
            if (roles != "")
                roles = roles.substr(0, roles.length - 1);

            return roles;
        }

        function closeView() {
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        }
    });
</script>