<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.art.score.artscore.mapper.LoginMapper" >

    <select id="loginValidata" resultType="com.art.score.artscore.vo.Sys_user" parameterType="map">
            select * from sys_user where logincode=#{logincode} and pwd='e10adc3949ba59abbe56e057f20f883e';
    </select>

</mapper>
