<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.art.score.artscore.mapper.ModuleMapper" >

    <select id="queryList" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject">
            select * from sys_module
    </select>


    <select id="queryByID" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject">
            select * from sys_module where id =#{id}
    </select>

    <insert  id="save"  parameterType="com.art.score.artscore.vo.Sys_module" keyProperty="id">
            insert into sys_module(modulename,url,parentid,status,remark)
            values(#{modulename},#{url},#{parentid},#{status},#{remark})
    </insert >

    <update id="update" parameterType="com.art.score.artscore.vo.Sys_module">
        update sys_module set modulename=#{modulename},url=#{url},parentid=#{parentid},status=#{status},remark=#{remark} where id=#{id}
    </update>

    <delete id="deleteByIds" parameterType="string">
            delete  from  sys_module  where  id in (${ids})
    </delete>
</mapper>
