<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.art.score.artscore.mapper.RoleMapper" >

    <select id="queryList" resultType="com.alibaba.fastjson.JSONObject">
            select * from sys_role
    </select>


    <select id="queryByID" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject">
            select * from sys_role where id =#{id}
    </select>

    <insert  id="save"  parameterType="com.art.score.artscore.vo.Sys_role" keyProperty="id">
            insert into sys_role(rolename,modules,modulesname,status,remark)
            values(#{rolename},#{modules},#{modulesname},#{status},#{remark})
    </insert >

    <update id="update" parameterType="com.art.score.artscore.vo.Sys_role">
        update sys_role set rolename=#{rolename},modules=#{modules},modulesname=#{modulesname},status=#{status},remark=#{remark}
        where
        id=#{id}
    </update>

    <delete id="deleteRoleByIds" parameterType="string">
            delete  from  sys_role  where  id in (${ids})
    </delete>

    <select id="queryRolesForSelect" resultType="com.art.score.artscore.vo.PowerVo">
           select b.id,b.modulename text,b.url href,a.modulename as parentname,cast(a.id as char) as
           parentid,b.`status`,'' as  icon  from sys_module a inner join sys_module b on a.id=b.parentid
    </select>
</mapper>
