<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.art.score.artscore.mapper.UserMapper" >

    <select id="queryList" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject">
            select * from sys_user
    </select>


    <select id="queryByID" resultType="com.alibaba.fastjson.JSONObject" parameterType="com.alibaba.fastjson.JSONObject">
            select * from sys_user where id =#{id}
    </select>

    <insert  id="save"  parameterType="com.art.score.artscore.vo.Sys_user" keyProperty="id">
            insert into sys_user(username,logincode,pwd,roleid,status)
            values(#{username},#{logincode},md5(#{pwd}),#{roleid},#{status})
    </insert >

    <update id="update" parameterType="com.art.score.artscore.vo.Sys_user">
        update sys_user set username=#{username},logincode=#{logincode},pwd=md5(#{pwd}),roleid=#{roleid},status=#{status}
        where id=#{id}
    </update>

    <delete id="deleteUserByIds" parameterType="string">
            delete  from  sys_user  where  id in (${ids})
    </delete>
</mapper>
